.text{
	background:turquoise;
	width:100%;
	height:50%;   
}
.id{
	border:groove;
	background-color:blue;
	width:200px; 
	height:500px; 
	margin-left:0%;
	border-radius:10px;

}
.n{
	background-color:yellow;  
	width:50%;
}
.n2{
	width:50%;

}

#cabecalho{
	
	text-align:center;

}
#rodape{
	background-color:white;
	
}
.ti{
	height:50%; 
}
.htt{
	text-align:center;
	margin-top:-8%;
		    
}

#pp{
	margin-top:-13%;
	 
}

#tb{
	margin-left:0%;	  
	
	margin-top:-2%;  
}
.top{
	margin-left:+60%;
	background-color:aliceblue;
	height:300px;
	width:300px;  
}

.conteudo{
	background-color:aliceblue;
	height:100%;
	width:100%;

    
}
 .tabela{
 	height:60%; 
 }
 body{
     margin:0;
 }
 #ret{
 	style
 }